<form class="form" id="FormRegistration">
  <h3 id="editAccountTitle" class="mb-4 text-center"></h3>
  <div class="form-group margin-down" style="display: none">
    <label for="InputID">ID</label>
    <input
      type="id"
      class="form-control"
      id="InputID"
      placeholder="ID аккаунта"
    />
  </div>
  <div class="form-group margin-down">
    <label for="InputName">Имя</label>
    <input
      type="text"
      class="form-control"
      id="InputName"
      placeholder="Введите ваше имя"
    />
  </div>
  <div class="form-group margin-down">
    <label for="InputSurname">Фамилия</label>
    <input
      type="text"
      class="form-control"
      id="InputSurname"
      placeholder="Введите вашу фамилию"
    />
  </div>
  <div class="form-group margin-down">
    <label for="InputEmail">Почта</label>
    <input
      type="email"
      class="form-control"
      id="InputEmail"
      placeholder="Введите вашу электронную почту"
    />
  </div>
  <div class="form-group margin-down">
    <label for="InputMessageRegistration">Сообщение</label>
    <textarea
      class="form-control message-text-box"
      id="InputMessageRegistration"
      placeholder="Введите сообщение"
    ></textarea>
  </div>
  <button type="submit" id="Send" class="btn btn-dark align-strech">
    Отправить
  </button>
</form>
