<div>
  <button id="AddReview" class="btn btn-dark align-strech">
    Добавить отзыв
  </button>
  <form class="nestedForm" id="FormCreateReview">
    <h2 id="editReviewTitle" class="from-headline">Оставьте свой отзыв🙂</h2>
    <div class="form-group margin-down">
      <label id="InputName3_label" for="InputName3">Ваше имя</label>
      <input
        type="text"
        class="form-control"
        id="InputName3"
        placeholder="Введите ваше имя"
        disabled
      />
    </div>
    <div class="form-group margin-down">
      <label for="InputMessageCreateReview">Ваш отзыв</label>
      <textarea
        class="form-control message-text-box"
        id="InputMessageCreateReview"
        placeholder="Введите сообщение"
      ></textarea>
    </div>
    <button id="CreateReview" class="btn btn-dark align-strech">
      Сохранить отзыв
    </button>
  </form>
</div>
