<div id="YouHaveAccount" class="form">
  <h3 class="d-flex justify-content-center align-items-center m-2">
    Вы не вошли в аккаунт
  </h3>
  <p class="d-flex justify-content-center align-items-center">
    Вы можете войти в аккаунт или зарегестрироваться
  </p>
  <div class="d-flex justify-content-center align-items-center">
    <button id="SelectLogin" class="btn btn-success m-2">
      Войти в аккаунт
    </button>
    <button id="SelectRegistration" class="btn btn-dark m-2">
      Зарегестрироваться
    </button>
  </div>
</div>
